{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helloworld Chat | App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1>Helloworld-Chat</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
        </nav>
        <div class="nav-user-container">
            {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}!</span>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block mainContainer %}
        {% endblock mainContainer %}
    </main>

    <footer>
        <p>© 2023 Helloworld Chat. All rights reserved.</p>
        <p>Made with ❤️ by <a target="_blank" href="https://github.com/OtakuTotipotent">OtakuTotipotent</a>
        </p>
        <p>Source code available on <a target="_blank"
                href="https://github.com/OtakuTotipotent/helloworld-chat">GitHub</a></p>
    </footer>

    <script src="{% static 'script.js' %}">
    </script>
</body>

</html>