<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helloworld Chat | App</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' ) }}">
</head>

<body>
    <header>
        <h1>Helloworld-Chat</h1>
    </header>

    <div class="container">
        <div class="container-header">
            <!-- Hello [username]! -->
            <h1>Hello User!</h1>
            <input type="search" name="search" id="search" placeholder="Search..." autocomplete="off" autocorrect="off">
        </div>
        <div class="items">
            {% for item in list %}
            <p>
                <span>{{ item.name }}</span>
                <a class="btn-action btn-mini" href="{% url 'delete_item' item.id %}"
                    data-item="{{ item }}">&#10005;</a>
            </p>
            {% endfor %}
            <p id="add-item">+ Add</p>
        </div>
    </div>

    <div class="hidden" id="modal-container">
        <div class="modal">
            <form action="/" method="post">
                <label for="new_item_name">Enter Name:</label>
                <input type="text" name="new_item_name" id="new_item_name" placeholder="Only your main name" required
                    autofocus autocorrect="on" autocomplete="off">
                <div class="btn-container">
                    <button type="submit" class="btn-action">ADD</button>
                    <button type="button" id="close-modal" class="btn-action">Close</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <p>© 2023 Helloworld Chat. All rights reserved.</p>
        <p>Made with ❤️ by <a href="https://github.com/OtakuTotipotent/my_flask_app">OtakuTotipotent</a></p>
        <p>Source code available on <a href="https://github.com/OtakuTotipotent/helloworld-chat">GitHub</a></p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>